body{
    font-family: SST;
    background-color: #d9d9d9;
    color: black;
}

h1{
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

/* navbar */
.navbar{
    padding: 15px;
    display: block;
    background-color:#686b73;
}

.navbar a{
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}


/*About me section */
.AboutMe{
    display: flex;
    float: left;
}

.mypic{
    width: 9%;
    text-align: center;
    padding: 10px;
}

.social{
    width: 2%;
    padding-top: 60px;
}

.intro{
    width: 89%;
    padding-left: 20px;
    font-size: 17px;
}


img{
    border-radius: 50%;
    width: 10%;
}

/* Skills section*/

.skills{
    margin: auto;
}

th{
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  padding: 18px
}

/* Experience */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    border: 1px solid red;
    background-color: transparent;
    width: 500px;
    height: 230px;
    border: 1px solid black;
    perspective: 1000px;
    display: inline-block;
    position: relative;
  }
  
  /* This container is needed to position the front and back side */
.container {
	display: flex;
	width: 100%;
	height: 300px;
	justify-content: center;
	align-items: center;
    perspective: 1000px;
    border: 1px solid black;
}

.card {
	position: relative;
	width: 30rem;
	height: 15rem;
	margin: 0.5rem;
	text-align: center;
	line-height: 8rem;
	color: #ecf0f1;
	border-radius: 0.8rem;
    transform-style: preserve-3d;
}

.face {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.8rem;
	background-size: cover;
	background-position: center center;
	backface-visibility: hidden;
	transition: transform 0.5s ease-in-out;
}

.face--front {
	background: #FFFFFF;
	font-size: 3rem;
}

.face--back {
	font-size: 1.5rem;
	transform: rotateY(180deg);
}

.card:hover .face--front {
	transform: rotateY(-180deg);
}

.card:hover .face--back {
	transform: rotateY(0deg);
}

  /* Projects */
  

