body{
    font-family: SST;
    background-color: #d9d9d9;
    color: black;
}

h1{
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

/* navbar */
.navbar{
    padding: 15px;
    display: block;
    background-color:#686b73;
}

.navbar a{
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}


/*About me section */
.AboutMe{
    display: flex;
    float: left;
}

.mypic{
    width: 9%;
    text-align: center;
    padding: 10px;
}

.social{
    width: 2%;
    padding-top: 60px;
}

.intro{
    width: 89%;
    padding-left: 20px;
    font-size: 17px;
}



/* Skills section*/
.skills{
    margin: auto;
}

th{
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 18px
}

/* Experience */
   



/* Projects */
.pcontainer {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 3vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }

  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
    filter: blur(8px);
  }
  

/* Contact */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .contactcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  label{
      font-size: 16px;
  }